---
---

@import "{{ site.theme }}";

#header {
  background: #383838;
  nav {
    li {
      a {
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding: 2px 0px;

        &:hover {
          background-color: transparent;
          box-shadow: none;
          border: none;
        }
      }

      &.link {
        a {
          &:hover {
            border: inherit;
            border-width: 0 0 1px;
            border-style: solid;
            border-color: gray;
            background-color: transparent;
            box-shadow: none;
          }
        }
      }

      &.button {
        a {
          border-radius: .15em;
          padding: 10px 12px;
          margin-top: 6px;
          line-height: 1.1em;
          font-size: 1.1em;
          display: inline-block;
          text-align: center;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        }

        &:hover {
          border: inherit;
        }
      }

      &.button-green {
        a {
          background-color: darken(#ade300, 7%);
          &:hover {
            background-color: darken(#ade300, 5%);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
          }
        }
      }
      &.button-blue {
        a {
          background-color: darken(#5cbdff, 3%);
          &:hover {
            background-color: darken(#5cbdff, 0%);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
          }
        }
      }

      &.align-right {
        float: right;
      }

      &.documentation {

      }

      &.issues {
        float: left;
        margin-left: 5px;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  img {
    height: 1em;
    width: auto;
    margin-right: .25em;
  }
}

#markdown-toc {
  img {
    margin-right: .25em;
    height: 1em;
    width: auto;
  }

  li > a {
    display: inline-flex;
    align-items: center;
  }
}

#title {
  p {
    width: 70%;
    margin: 0 auto;
  }
}

#logo {
  display: block;
  width: 55%;
  margin: 0 auto 3em;
}

.wrapper, section, #header nav {
  max-width: 750px;
}

a {
  color: #5cbdff;
  &:hover {
    color: darken(#5cbdff, 15%);
  }
}
